<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>eShop(Vue.js)</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <header>
            <div class="search">
                <form @submit.prevent="filterGoods">
                    <input type="text" class="goods-search" v-model='searchLine'>
                    <button class="search-button" type="submit">Искать</button>
                </form>
            </div>

            <div class="cart" v-if='isVisibleCart'>
                <button class='cart-button'>Корзина</button>
            </div>
        </header>

        <main>
           <goods-list :goods="filteredGoods"></goods-list>
        </main>
    </div>









    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="scriptPromises.js"></script>
</body>

</html>